body {
    max-width: 400px;
    margin: auto;

    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

    background-color: black;
}



.clear {
    grid-area: clear;
}

.equal {
    grid-area: equal;
}

.toggle {
    grid-area: toggle;
}
.percentage {
    grid-area: percentage;
}
.divide {
    grid-area: divide;
}

.multiply {
    grid-area: multiply;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.subtract {
    grid-area: subtract;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.add {
    grid-area: add;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.enter {
    grid-area: enter;
}

.zero {
    grid-area: zero;
}

.dot {
    grid-area: dot;
}


.container {
    display: grid;
    grid-template-areas:
        'monitor monitor monitor monitor'
        'clear toggle percentage divide'
        'seven eight nine multiply'
        'four five six subtract'
        'one two three add'
        'zero zero dot equal';
    grid-gap: 5px;
    grid-template-rows: repeat(6, 50px);
    padding: 10px;
    width: 100%;
    background-color: #222;
}

.container>button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

    padding: 10px;
    border: none;

    background-color: #F8D8C0;
}
.container>button:hover {
    /* filter: brightness(60%); */
    background-color: #251709;
    color: white;
}
.container .ops {
    background-color: #FFA07A;
}


.container>.monitor {
    grid-area: monitor;
    color: white;
    vertical-align: middle;
    padding: 0 10px;
    border: 1px solid #F8D8C0;

    text-align: right;
    overflow: hidden;
    white-space: nowrap;

    background-color: #251709;
    color: white;
}


.container>.monitor>p {
    float: right;
}
